/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
yarn-error.log
/source/assets/build/css/
/source/assets/build/js/

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/fonts/
