@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes divider {
   from {
      background-position: 0;
   }

   to {
      background-position: -1000px;
   }
}

@keyframes bubble {
   from {
      transform: rotate(6deg);
   }

   to {
      transform: rotate(-6deg);
   }
}