.l-gutter {
  padding-left:  1em;
  padding-right: 1em;

  @media #{$tablet} {
    padding-left: 5em;
    padding-right: 5em;
  }

  @media #{$laptop} {
    padding-left: 8em;
    padding-right: 0;
  }
}

.l-gutter-top {
  padding-top: 10em;

  @media #{$tablet} {
    padding-top: 6em;
  }
}

.code {
  font-family: $fontSecondary;
}

.u-article-code-pr {
  padding-right: 6vw;
}

.u-desktop-only {
  display: none !important;

  @media #{$tablet} {
    display: block !important;
  }
}