// VARIABLES

:root {
  --black: #323232;
  --grey : #EBEBEB;
  --navy: #025795;
  --white: #FFFFFF;

  --mint: #B9FFE1;
  --yellow: #FFF07C;
  --cyan: #a5e7ff;
  --blue: #0082ff;
  --purple: #8b00ff;
  --fuchsia: #ff4482;

  --theme: var(--mint);
  --theme-transition: all 0.5s ease-in-out;

  --animation: 1s fadeIn 0.5s forwards;
  --animation-delayed: 1s fadeIn 1s forwards;

  --gutter: 8vw;
}

// fonts
$fontHelvetica: "Helvetica", Arial, sans-serif;
$fontConsole: "Lucida Console", Monaco, monospace;

$fontPrimary: $fontHelvetica;
$fontSecondary: $fontConsole;

$baseFontFamily: $fontPrimary;
$baseFontColor: var(--black);
$baseFontWeight: 200;

$radius: 0.1em;

$baseFontSize: 14px;
//$tabletFontSize: 17px;

$laptop: "(min-width: 1500px)";
$tablet: "(min-width: 70em)";
$small: "(min-width: 450px)";

// misc
$browserContext: 15;


// z-index map
$z-index: (
   help-box: 30,
   help: 20,
   footer: 10,
   highlight-text: 10,
   highlight: -1,
)