// VARIABLES

:root {
  --black: #323232;
  --darkGrey: #535353;
  --grey : #EBEBEB;
  --navy: #025795;
  --white: #FFFFFF;

  --yellow: #FFF07C;
  --cyan: #7CE6FF;
  --mint: #B9FFE1;
  --purple: #f7abf9;

  --theme: var(--yellow);

  --theme-transition: all 0.5s ease-in-out;
}

// fonts
$fontHelvetica: "Helvetica", Arial, sans-serif;
$fontConsole: "Lucida Console", Monaco, monospace;

$fontPrimary: $fontHelvetica;
$fontSecondary: $fontConsole;

$baseFontFamily: $fontPrimary;
$baseFontColor: var(--black);
$baseFontWeight: 200;

$baseFontSize: 23px;
$tabletFontSize: 17px;

$tablet: "(max-width: 900px)";

// misc
$browserContext: 15;


// z-index map
$z-index: (
   footer: 10,
   highlight: -1,
)