.divider {
   animation: divider 2s forwards;
   background: url('/images/decor/wave.svg') center center repeat-x;
   background-size: contain;
   height: 6px;
   margin: rem(25) 0;

   @media #{$tablet} {
      margin: rem(5) 0 rem(25) 0;
   }

   &--thin {
      animation: none;
      width: 25%;

      @media #{$tablet} {
         margin: 0;
      }
   }
}