.divider {
   animation: divider 40s linear infinite;
   background: url('/images/decor/wave.svg') center center repeat-x;
   background-size: contain;
   margin-bottom: 1em;
   height: 0.5em;
   width: 75%;

   @media #{$tablet} {
      height: 1.2em;

      .article & {
         height: 0.4em;
      }
   }

   .header & {
      height: 100%;
      width: 100%;
      grid-column: 7 / -1;

      @media #{$tablet} {
         grid-column: 9 / -1;
      }
   }
}