.footer {
   align-items: center;
   display: flex;
   font-size: 14px;
   justify-content: flex-end;
   margin-top: rem(130);
   padding-bottom: rem(65);
   position: relative;
   z-index: map_get($z-index, footer);

   .home--dark & {
      mix-blend-mode: difference;
   }

   @media #{$tablet} {
      align-items: flex-start;
      flex-direction: column-reverse;
      margin-top: rem(150);
      mix-blend-mode: normal;
      padding-bottom: rem(30);
   }
}