.footer {
   align-items: center;
   display: flex;
   font-size: 14px;
   justify-content: flex-end;
   margin-top: rem(220);
   padding-bottom: rem(40);
   position: relative;
   transition: var(--theme-transition);
   z-index: map_get($z-index, footer);

   @media #{$tablet} {
      align-items: flex-end;
      flex-direction: column;
      margin: rem(120) rem(80) 0 0;
      mix-blend-mode: normal;
      padding-bottom: rem(30);
   }

   .home--dark & {
      color: var(--black);
   }

   .home--blue &,
   .home--purple &,
   .home--fushcia & {
      color: var(--white);
   }
}