.home {
   animation: fadeIn 1s forwards;
   overflow: hidden;
   position: relative;

   &--dark {
      animation: night 40s forwards;
      background: url('/images/backgrounds/dark-side.jpg') right -2px center no-repeat;
      background-size: cover;
      color: var(--white);
      transition: 1s ease;

      @media #{$tablet} {
         background-position: right 25% center;
      }
   }

   &--yellow {
      --theme: var(--yellow);
   }

   &--cyan {
      --theme: var(--cyan);
   }

   &--mint {
      --theme: var(--mint);
   }

   &--purple {
      --theme: var(--purple);
   }

   &--blue {
      --theme: var(--blue);
   }

   &--fushcia {
      --theme: var(--fushcia);
   }
}
