.blob {
   position: absolute;

   path {
      fill: var(--theme);
      transition: var(--theme-transition);
   }

   &--top {
      left: 50%;
      top: -50px;
      transform: translateX(-50%) translateY(-60%);

      @media #{$tablet} {
         transform: translateX(-50%) translateY(-70%);
      }
   }

   &--bottom {
      bottom: 0;
      right: 0;
      transform: scale(1.5) translateY(30%);

      @media #{$tablet} {
         transform: translateY(200px);
      }
   }
}