.blob {
   position: absolute;

   path {
      fill: var(--theme);
      transition: var(--theme-transition);
   }

   &--top {
      animation: bubble 10s alternate infinite;
      left: -20px;
      top: -275px;

      @media #{$tablet} {
         left: -60px;
         top: -320px;
      }
   }

   &--bottom {
      animation: bubble 10s alternate infinite;
      bottom: -175px;
      right: -110px;

      @media #{$tablet} {
         bottom: -200px;
         right: -65px;
      }
   }
}