.help {
  border-bottom: 1px dashed #dcdcdc;
  cursor: help;
  transition: var(--theme-transition);
  z-index: map-get($z-index, help);

  &:hover {
    border-bottom: 1px dashed var(--purple);
  }

  @media #{$tablet} {
    position: relative;
  }
}

.help__box {
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  max-width: 100%;
  padding: 0.5rem;
  position: absolute;
  left:     50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: var(--theme-transition);
  visibility: hidden;
  top: 50%;
  width: max-content;
  z-index: map_get($z-index, help-box);

  @media #{$tablet} {
    bottom: 100%;
    max-width: none;
    top: auto;
  }

  .help:hover &, .help:focus & {
    visibility: visible;
    opacity: 1;
  }
}