.highlight {
   position: relative;

   &:before {
      background: var(--theme);
      border-radius: 2px;
      bottom: -4px;
      content: '';
      left: -4px;
      position: absolute;
      right: -3px;
      top: -2px;
      transform: rotate(-1deg);
      transition: var(--theme-transition);
      z-index: map_get($z-index, highlight);
   }

   .home--dark & {
      color: var(--black);
   }
}