.highlight {
   position: relative;
   transition: var(--theme-transition);
   z-index: map_get($z-index, highlight-text);

   &:before {
      animation: var(--animation-delayed);
      background: var(--theme);
      border-radius: 0.1em;
      bottom: -0.1em;
      content: '';
      left: -0.1em;
      opacity: 0;
      position: absolute;
      right: -0.1em;
      top: -0.05em;
      transform: rotate(-1deg);
      transition: var(--theme-transition);
      z-index: map_get($z-index, highlight);
   }

   .home--dark & {
      color: var(--black);
   }

   .home--blue &,
   .home--purple &,
   .home--fuchsia & {
      color: var(--white);
   }
}