.link {
   animation: var(--animation);
   border-bottom: 1px solid var(--theme);
   font-weight: 500;
   opacity: 0;

   &:hover {
      border-bottom: 1px solid var(--purple);
   }

   .footer & {
      margin-right: 1em;

      @media (max-width: 450px) {
         color: var(--white);
      }
   }

   .home--dark & {
      border-bottom: 1px dashed var(--purple);
   }
}