.link {
   animation: var(--animation);
   border-bottom: 1px dashed var(--navy);
   font-weight: bold;
   opacity: 0;
   padding-bottom: rem(3);

   @media #{$tablet} {
      padding-bottom: rem(2);
   }

   &--code {
      font-family: $fontSecondary;
      font-weight: 200;
   }

   .home--dark & {
      border-bottom: 1px dashed var(--purple);
   }

   .socials & {
      border-bottom: none;
      margin-left: rem(6);

      &:hover {
         border-bottom: 1px dashed var(--navy);
      }

      &:first-child {
         @media #{$tablet} {
            margin-left: 0;
         }
      }

   }
}