.list {
   list-style: none;
   margin-bottom: rem(45);
   padding-left: 0;
}

.list__title {
   color: var(--darkGrey);
   font-weight: 200;
   margin-bottom: rem(22);

   .home--dark & {
      color: var(--grey);
      transition: 1s ease;
   }
}

.list__item {
   margin-bottom: rem(15);
   position: relative;

   @media #{$tablet} {
      padding-left: rem(20);
   }

   &:before {
      @include size(6px);
      background: var(--theme);
      border-radius: 2px;
      content: '';
      left: -14px;
      position: absolute;
      top: 14px;
      transform: rotate(-2deg);

      @media #{$tablet} {
         left: 0;
         top: 10px;
      }
   }
}