.mode {
  @include size(18px);
  background: center center no-repeat;
  background-size: contain;
  position: relative;

  &--light {
    background-image: url('/images/icons/mode-light.svg');
  }

  &--dark {
    background-image: url('/images/icons/mode-dark.svg');
  }

  &.active {
    @media #{$tablet} {
      &:after {
        @include size(50%, 1px);
        background: var(--purple);
        bottom: -8px;
        content: '';
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
      }
    }
  }
}