.mode {
  @include size(18px);
  background: center center no-repeat;
  background-size: contain;

  &--light {
    background-image: url('/images/icons/mode-light.svg');
  }

  &--dark {
    background-image: url('/images/icons/mode-dark.svg');
  }
}