.palette {
  animation: var(--animation-delayed);
  left: 50%;
  position: fixed;
  top: 40%;
  opacity: 0;
  transform: translateX(-420px);

  @media #{$tablet} {
    bottom: 40px;
    right: var(--gutter);
    left: auto;
    position: absolute;
    top: auto;
    transform: none;
    z-index: map_get($z-index, footer);
  }
}
