.selfie {
   border: 1px solid var(--theme);
   border-radius: 50%;
   max-width: 315px;

   @media #{$tablet} {
      border-radius: 5px;
      margin-top: 0;
      margin-bottom: 2rem;
      width: 100%;
   }
}