$mobileSize: 1.8em;
$size: 1.2em;

.themes {
   display: grid;
   grid-gap: 0.35em;
   grid-template-columns: repeat(8, 1fr);

   @media #{$tablet} {
      grid-gap: 0.2em;
      grid-template-columns: repeat(11, 1fr);
   }
}

.theme {
   border-radius: $radius;
   display: block;
   position: relative;
   opacity: 0.4;
   height: $mobileSize;
   width:  $mobileSize;

   @media #{$tablet} {
      height: $size;
      width:  $size;
   }

   &:hover {
      opacity: 1;
   }

   &--yellow {
      background: var(--yellow);
   }

   &--cyan {
      background: var(--cyan);
   }

   &--mint {
      background: var(--mint);
   }

   &--purple {
      background: var(--purple);
   }

   &--fuchsia {
      background: var(--fuchsia);
   }

   &--blue {
      background: var(--blue);
   }

   &.active {
      opacity: 1;

      .home--dark & {
         border-color: var(--theme);
         transition: border-color 1s ease-in-out;
      }

      &:after {
         @include size(50%, 0.1em);
         background: var(--theme);
         bottom: -0.5em;
         content: '';
         left: 0;
         margin: 0 auto;
         position: absolute;
         right: 0;
      }
   }
}

.mode {
   background: center center no-repeat;
   background-size: contain;
   position: relative;
   height: $mobileSize;
   width:  $mobileSize;

   @media #{$tablet} {
      height: $size;
      width:  $size;
   }

   &--light {
      background-image: url('/images/icons/mode-light.svg');
   }

   &--dark {
      background-image: url('/images/icons/mode-dark.svg');
   }

   &.active {
      &:after {
         @include size(20%, 20%);
         background: var(--yellow);
         bottom: -0.75em;
         border-radius: 50%;
         content: '';
         left: 0;
         margin: 0 auto;
         position: absolute;
         right: 0;
      }
   }
}
