.themes {
   display: grid;
   grid-gap: rem(8);
   grid-template-columns: repeat(2, 1fr);
   margin-bottom: rem(15);
}

.theme {
   @include size(18px);
   border-radius: 50%;
   display: block;

   &--yellow {
      background: var(--yellow);
   }

   &--mint {
      background: var(--mint);
   }

   &--pink {
      background: var(--pink);
   }

   &--red {
      background: var(--red);
   }

   &.active {
      border: 1px solid var(--darkGrey);

      .home--dark & {
         border: 1px solid var(--white);
      }
   }
}